@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        overflow-x: hidden;
    }


    #this_is_responsive {
        background-image: linear-gradient(white);
        display: none;
    }


    #welcome_page {

        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(white);

    }

    #site_name {
        width: 70vw;
        border-radius: 10vw;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 7vw rgb(255, 255, 255);
        border: 0vw solid rgb(25, 23, 147);
        position: absolute;
        text-align: center;
        margin-top: -60vh;
        color: rgb(7, 46, 101);
        letter-spacing: 1vw;
        font-size: 10vmin;
        animation-name: welcome;
        animation-duration: 5s;
    }



    #notepad_design {
        display: flex;
        justify-content: center;
        align-items: center;
        word-spacing: 0vw;
        width: 70vw;
        border-radius: 10vw;
        height: 30vh;
        background-image: linear-gradient(white);
        backdrop-filter: blur(100vw);
        box-shadow: inset 0.9vw 0.9vh 7vw rgb(bisque);
        border: 0.2vw solid rgb(217, 218, 226);
        position: absolute;
        margin-top: 0vh;
        padding: 8vw;
        margin-left: 20vw;
        margin-right: 20vw;
        text-align: center;
        color: rgb(72, 70, 70);
        font-size: 3vmin;
        font-family: "Jost", sans-serif;
        animation-name: welcome_button;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }

    #welcome_button {
        position: absolute;
        font-family: "Jost", sans-serif;
        margin-top: 50vh;
        color: rgb(255, 255, 255);
        border: 0px;
        outline: none;
        width: 30vw;
        height: 7vh;
        border-radius: 40px;
        background-image: linear-gradient(rgb(0, 140, 255));
        box-shadow: inset 0vw 0vw 0vw rgb(119, 145, 6);
        cursor: pointer;
        animation-name: welcome_button;
        animation-duration: 2s;
        animation-timing-function: ease-out;

    }


    #m {

        margin-top: -50vh;
        margin-left: 0vw;
        width: 20vw;
        height: 15vh;
        animation-name: welcome;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }


    .date_class {
        margin-top: 0vh;
        font-size: 2vmin;
        color: black;
    }




    @keyframes welcome_button {
        from {
            opacity: 0;
            transform: translatex(-500px);
        }

        to {

            opacity: 1;
        }
    }




    #element {
        background-image: linear-gradient(rgb(255, 255, 255));
        border: 0vw solid rgb(101, 89, 66);
        /* box-shadow: 0vw 0vh 7vw blue; */
        margin-left: 0vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 30vh;
        width: 100vw;
    }

    .logo {

        border: 0vw solid #0014FF;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1vw 1vh 1vw #87838350;
        border-radius: 50vw;
        text-align: center;
        background: #ffffff;
        width: 50vw;
        height: 10vh;
        font-family: "Quicksand", sans-serif;
        font-size: 6vmin;
        margin-bottom: 2vh;
        color: #000000;
        margin-top: 2vh;
        margin-left: 0vw;
    }

    .newnote,
    .closenote {
        background-color: rgb(103, 189, 255);
        font-size: 3vmin;
        margin-bottom: 1vh;
        width: 25vw;
        margin-left: 0vw;
        margin-top: 1vh;
    }

    #view-save-note {
        background-color: rgb(103, 189, 255);
        font-size: 3vmin;
        margin-bottom: 1vh;
        width: 30vw;
        margin-left: 0px;
        margin-top: 1vh;
    }


    #content {
        background-image: linear-gradient(white);
        margin-top: 38vh;
        font-size: 30px;
        width: 100vw;
        height: 60vh;
        margin-left: 0px;
        animation-name: cosx;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

    }

    @keyframes cosx {
        from {
            opacity: 0;
        }
    }



    #write {
        margin-top: 40vh;
        margin-left: 0vw;
        width: 100vw;
        height: 40vh;
    }

    textarea {
        box-shadow: inset 0vh 0vw 0vw rgb(235, 233, 165);
        padding: 4vw;
        font-size: 4vmin;
        width: 90vw;
        height: 35vh;
        border: 0.2vw solid rgb(255, 255, 255);
        background-color: aliceblue;
    }

    .new {
        color: rgba(108, 110, 110, 0.29);
        border-radius: 10vw;
        height: 15vh;
        width: 80vw;
        font-family: "Jost", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: coss;
        animation-duration: 6s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    #save {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        height: 5vh;
        width: 30vw;
        box-shadow: 0.2vw 0.2vh 1vw rgb(45, 177, 210);
    }

    #save:hover {
        background-color: azure;
        color: black;
    }

    #box-for-save-note {

        align-items: center;
        margin-top: 32vh;
        margin-left: 0vw;
        width: 100vw;
        height: 66vh;
        /* background-color: #000000; */
    }

    .update {
        background-image:linear-gradient( rgba(233, 235, 236, 0.311));
        border: 0.2vw solid rgba(98, 100, 104, 0.227);
        box-shadow: 0.4vh 0.8vw 1vw rgba(80, 80, 78, 0.225);
        font-size: 4vmin;
        width: 85vw;
        height: 30vh;
        margin-left: 0vw;

    }

    .text_area_animation {
        animation-name: d;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .delete_button_design {

        margin-left: 70%;
        animation-name: mydel;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes mydel {
        from {
            box-shadow: 0px 0px 10px 2px red;
        }
    }

    @keyframes d {
        from {

            transform: translatey(100vw);
        }

        to {

            opacity: 1;
        }
    }

    .t {
        animation-name: l;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes l {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
}